.DS_Store

# ignores the compiled c python files and jupyter notebooks
__pycache__/
*.pyc
*.ipynb*
*.so
!doc/tutorials/*ipynb
*egg-info

# ignores vim swap files
*.swp

# ignores files from doc
doctrees/
html/

# ignores output from local coverage
.coverage
tests/htmlcov

# ignores build dir
build
