.DS_Store

# ignores the compiled c python files and jupyter notebooks
__pycache__/
*.pyc
*.ipynb*
*.so
!tutorials/*ipynb

# ignores vim swap files
*.swp

# ignores files from doc
doctrees/
sphinx-build
html/

# ignores output from local coverage
.coverage
tests/htmlcov

# ignores build dir
build
