.DS_Store

# ignores the compiled c python files and jupyter notebooks
*.pyc
*.ipynb*
*.so

# ignores vim swap files
*.swp

# ignores files from doc
doc/doctrees
doc/.source/sphinx-build
doc/.source/*/conf.py
